<!DOCTYPE html>
<html>
<head>

  <title>JSON Lestina</title>
  <meta name="description" content="Jason Lestina's web developer portfolio">
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
  <link rel="icon" href="images/favicon.png" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Abel|Ubuntu+Condensed|Ubuntu:300,400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/main.css">

  <script src="https://use.fontawesome.com/b3b066f647.js"></script>
  <script src="https://cdn.polyfill.io/v2/polyfill.js?features=default,fetch"></script>

</head>
<body>
  <header>
    <div class="nav-container">
      <nav class="cl-effect-5">
        <a href="/"><div class="logo-small"></div></a>
        <ul>
          <li>Details</li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="container detail">
    <div class="row" id="details">

    </div>
  </div>


  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="./js/detail.js"></script>
</body>
</html>
